@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@600;700&family=Truculenta:opsz@12..72&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
:root{
    --light-pink:#fee5e5;
    --medium-pink:#fed0d0;
    --ligth-gray: lightgray;
    --pink:#EFB3B4;
    --red: #fc1b1b;
    --medium-red: #a00404;
    --dark-blue:#1E0377;
    --white: white;
    --dark-red:rgb(102, 2, 4);
    --font-family-paragraphs : Poppins;
    --font-family-heading: Kanit;
    --font-weight-regular: 400;
    --font-weight-semiBold: 600;
    --font-weight-bold: 700;
    --font-size: 20px;
}
*{
    margin: 0;
    padding: 0;
}
#header{
    background-color: rgba(0,0 , 0, 0.8);
    display: flex;
    justify-content: end;
    padding-left: 50px;
    padding-right: 30px;
    position:sticky;
    top: 0px;
    align-items: center;
    z-index: 999;
    height: 80px;
}
#logo{
    display: flex;
    margin-right: auto;
    align-items: center;
}
#logo>img{
    width: 130px;
}
#logo>h3{
    font-family:fantasy;
    letter-spacing: 2px;
    width: 50px;
    color: var(--red);
    background-color: transparent;
    margin-left: -35px;
}
.separator{
    color: var(--ligth-gray);
}
nav{
    display: flex;
    gap: 100px;
    align-items: center;
}
ul{
    list-style-type: none;
    display: flex;
    gap: 30px;
    font-family: var(--font-family-heading);
    font-weight: var(--font-weight-semiBold);
    font-size: 17px;
    margin-right: -30px;
}

a{
    text-decoration: none;
    color: var(--ligth-gray);
}
a:hover{
    border-bottom: 4px solid var(--red);
    padding-bottom: 23px;
    cursor: pointer;
}
.dropbtn {
    background-color: transparent;
    padding: 16px;
    font-size: 16px;
    border: none;
    border-radius: 20px;
  }
    .sub-header {
    position: relative;
    display: inline-block;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(0,0 , 0, 0.8);
    min-width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
    .dropdown-content a {
    color: var(--ligth-gray);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: var(--font-family-heading);
    font-weight: var(--font-weight-semiBold);
  }
.sub-header:hover .dropdown-content {display: block;}
.dropdown-content a:hover{
background-color: var(--red);
color: white;
}
#login{
    text-decoration: none;
    font-family: var(--font-family-heading);
    font-weight: var(--font-weight-semiBold);
    padding: 13px;
    width: 100px;
    text-align: center;
    background-color: var(--red);
    color: var(--ligth-gray);
    
}
#landing{
    background-image: url(./assets/images/Home/As\ a\ candidate\ for\ staffing\,\ you\ can\ expect\ a\ high\ level\ of\ integrity\ and\ professionalism\ at\ Gemini\ Staffing\ Consultants_\ _\ Gemini\ Staffing\ Consultants.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 630px;
    margin-top: -100px;
    margin-bottom: -50px;
}
.card{
    background-color: rgba(32, 31, 31, 0.8);
    position: absolute;
    top: 170px;
    left: 600px;
    padding: 15px;
    width: 550px;
}
.card>h1{
    font-family: var(--font-family-heading);
    font-weight: var(--font-weight-bold);
    font-size: 2.7rem;
    width: 400px;
    border-bottom: 2px solid var(--red);
    color: var(--white);
}
.card>h1>span{
    color: var(--red);
}
.card>p{
    margin-top: 20px;
    font-family: var(--font-family-paragraphs);
    font-weight: var(--font-weight-regular);
    color: var(--white);
    margin-bottom: 40px;
}
#join{
    text-decoration: none;
    font-family: var(--font-family-heading);
    font-weight: var(--font-weight-semiBold);
    width: 100px;
    padding: 10px;
    background-color: var(--red);
}
#join:hover{
    border-bottom: none;
    background-color: var(--white);
    color: var(--red);
    cursor: pointer;
}

#Needer{
    background-color: var(--white);
    display: flex;
    height: auto;
    justify-content: space-evenly;
    margin-bottom: 30px;
}
.benefit-item{
    box-shadow: 8px 8px 20px gray;
    text-align: center;
    padding: 20px;
}
#Needer .benefit-item img{
    height: 160px;
    width: 160px;
    animation: animeY 2s alternate;
}

 #Needer .benefit-item p{
    font-family: var(--font-family-paragraphs);
    font-weight: var(--font-weight-bold);
    font-size: 17px;
    text-align: center;
    width: 180px;
    color: black;
    margin-bottom: 20px;
    animation: animeY 2s alternate;
} 
.Need {
    font-family: var(--font-family-heading);
    text-align: center;
    color: black;
    margin-top: 150px; 
    margin-bottom: 30px;
}
#Needs-per-day{
    background-color: white;
    display: grid;
    place-items: center;
    height: auto;
    box-shadow: 8px 8px 20px gray;
}
#Needs-per-day .bottles .bottle{
    height: 150px;
    width: 150px;
    margin-bottom: 20px;
    margin-top: 20px;
    animation: animeY 3s alternate;
}
#Needs-per-day h2{
    font-family: var(--font-family-paragraphs);
    font-weight: var(--font-weight-semiBold);
    width: 700px;
    text-align: center;
    color: black;
    margin-bottom: 20px;
    animation: animeY 3s alternate;
}
#container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: auto;
}
#container .columns{
    background-color: var(--red);
    display: grid;
    place-items: center;
}
#container .columns img{
    height: 340px;
    width: 380px;
    animation: animeX 3s alternate;
}
#container .columns h2{
    font-family: var(--font-family-paragraphs);
    font-weight: var(--font-weight-regular);
    text-align: center;
    color: black;
    font-size: 20px;
    width: 300px;
    margin-top: -20px;
}
#container .heart{
    display: grid;
    place-items: center;
}
#container .heart img{
    height: 250px;
    width: 250px;
    animation: animeX 3s alternate;
}
#container .heart h2{
    font-family: var(--font-family-paragraphs);
    font-weight: var(--font-weight-regular);
    text-align: center;
    color: black;
    font-size: 20px;
    width: 390px;
}
#How-to-donate{
    display: grid;   
}
#How-to-donate .steps{
    display: flex;
    height: auto;
    justify-content: space-evenly;
    margin-top: 20px;
}
#How-to-donate .steps .step{
    box-shadow: 8px 8px 20px gray;
    text-align: center;
    padding: 20px;
}
 #How-to-donate h1{
    font-family: var(--font-family-heading);
    text-align: center;
    color: black;
    margin-top: 20px;
} 
#How-to-donate .steps img{
    height: 160px;
    width: 160px;
    animation: animeY 4s alternate;
}
 #How-to-donate .steps p{
    font-family: var(--font-family-paragraphs);
    font-weight: var(--font-weight-bold);
    font-size: 17px;
    text-align: center;
    width: 180px;
    color: black;
    margin-bottom: 20px;
    animation: animeY 4s alternate;
} 
#importance{
    display: flex;
    background-color: var(--white);
    justify-content: space-evenly; 
}
#importance img{
    height: 260px;
    width: 260px;
    animation: animeX 4s alternate;
}
#importance h3{
    font-family: var(--font-family-heading);
    font-size: 24px;
    font-weight: var(--font-weight-regular);
    margin-top: 80px;
    text-align: center;
    color: black;
    width: 500px;
}
#about{
    display: grid;  
    background-color: black;
}
#about .why-us{
    display: grid;
    place-items: center;
}
#about .why-us h1{
    font-family: var(--font-family-heading);
    text-align: center;
    color: var(--red);
    margin-top: 20px;
}
#about .why-us p{
    font-family: var(--font-family-paragraphs);
    font-weight: var(--font-weight-bold);
     font-size: 20px; 
    text-align: center;
    color: white;
    margin-top: 20px;
    width: 800px;
}
#about .infos{
    display: flex;
   margin-top: 80px;
    justify-content: space-evenly;
}
#about .infos .info{
    text-align: center;
    padding: 20px;
    text-align: center;
}
#about .infos h1{
    font-family: var(--font-family-heading);
    text-align: center;
    color: white;
}
#about .infos p{
    font-family: var(--font-family-paragraphs);
    font-weight: var(--font-weight-bold);
    font-size: 17px; 
    text-align: center;
    color: var(--red);
    margin-bottom: 20px;
}
#location {
    display: flex;
    justify-content: center;
}
#location iframe{
    margin-top: 20px;
    margin-bottom: 20px;
    height: 350px;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
@keyframes animeX {
    from{
        transform: translateX(-100px);
    }
}
@keyframes animeY {
    from{
        transform: translateY(100px);
    }
}
#footer{
    background-color: black;
    display: flex;
    gap: 100px;
    justify-content: center;
}
#footer img{
    cursor: pointer;
}