@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@600;700&family=Truculenta:opsz@12..72&display=swap');
:root{
    --pink:#EFB3B4;
    --red: #fc1b1b;
    --medium-red:#ab0303;
    --white: white;
    --dark-red:rgb(102, 2, 4);
    --font-family-paragraphs :Truculenta;
    --font-family-heading: Kanit;
    --font-weight-regular: 400;
    --font-weight-semiBold: 600;
    --font-weight-bold: 700;
    --font-size: 20px;
}
body{
    background-color: var(--white);
    margin: auto;
    display: grid;
    place-content: center;
    margin-top: 50px;
}
main{
    padding: 50px;
    font-family:var(--font-family-heading) ;
    background-color: var(--medium-red);
    color: var(--pink);
    width: 350px;

}
input{
    background-color: transparent;
    width: 300px;
    padding: 15px;
    border: none;
    border-bottom: var(--pink) solid 2px;
    margin-bottom: 30px;
    font-family:var(--font-family-heading) ;
    font-size: var(--font-size);
}
h1{
    text-align: center;
    font-size: 3rem;
}
.btn{
    width: 120px;
    background-color: var(--pink);
    margin-top: 20px;
    color: var(--medium-red);
    border-radius: 5px;
    margin-left: 100px;
}
    .btn:hover{
        cursor: pointer;
        background-color: transparent;
        border: 2px solid var(--pink);
        color: var(--pink);
    }

.admin-form{
    animation: animeX 3s alternate;
    display: flex;
    box-shadow: 1px 1PX 5PX 3PX rgba(139, 69, 69, 0.87);
}
.admin-form img{
    height: 460px;
    width: 500px;
    margin-top: 50px;
    
}

@keyframes animeX {
    from{
        transform: translateX(-100px);
    }
}