*{
    margin: 0;
    padding: 0;
}
#header{
    background-color: rgba(0,0 , 0, 0.8);
    display: flex;
    justify-content: end;
    padding-left: 50px;
    padding-right: 30px;
    position:sticky;
    top: 0px;
    align-items: center;
    z-index: 999;
    height: 80px;
}
#logo{
    display: flex;
    margin-right: auto;
    align-items: center;
}
#logo >img{
    width: 130px;
}
#logo>h3{
    font-family:fantasy;
    letter-spacing: 2px;
    width: 50px;
    color: var(--red);
    background-color: transparent;
    margin-left: -35px;
}
.separator{
    color: var(--ligth-gray);
}
nav{
    display: flex;
    gap: 100px;
    margin-right: 200px;
    align-items: center; 
}
ul{
    list-style-type: none;
    display: flex;
    gap: 30px;
    font-family: var(--font-family-heading);
    font-weight: var(--font-weight-semiBold);
    font-size: 17px;
}

a{
    text-decoration: none;
    color: var(--ligth-gray);
}
a:hover{
    border-bottom: 4px solid var(--red);
    padding-bottom: 23px;
    cursor: pointer;
}
main{
    width: 500px;
    margin-left: 100px;
    margin-bottom: 20px;
}
h1{
    font-family: var( --font-family-heading);
    font-weight: var(--font-weight-bold);
    color: black;
    margin-bottom: 20px;
}
.quest{
    padding: 15px;
    border-bottom: 2px solid var(--medium-red);
}
h2{
    font-family: var(--font-family-heading);
    font-weight: var(--font-weight-semibold);
    color: black;
}
.quest>p{
    display: none;
    font-family: var(--font-family-paragraphs);
    font-weight: var(--font-weight-regular);
    color: black;
    font-size: 17px;
}
.quest:hover > p {
    display:block;
    width: 400px;
}
.quest>h2:hover{
    color: var(--medium-red);
}