@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@600;700&family=Truculenta:opsz@12..72&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
:root{
    --light-pink:#fee5e5;
    --medium-pink:#fed0d0;
    --ligth-gray: lightgray;
    --pink:#EFB3B4;
    --red: #fc1b1b;
    --medium-red: #a00404;
    --dark-blue:#1E0377;
    --white: white;
    --dark-red:rgb(102, 2, 4);
    --font-family-paragraphs : Poppins;
    --font-family-heading: Kanit;
    --font-weight-regular: 400;
    --font-weight-semiBold: 600;
    --font-weight-bold: 700;
    --font-size: 20px;
}
*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(../assets/images/Faq/NewBG.png);
    background-size: contain;
}
#header{
    background-color: rgba(0,0 , 0, 0.8);
    display: flex;
    justify-content: end;
    padding-left: 50px;
    padding-right: 50px;
    position:sticky;
    top: 0px;
    align-items: center;
    z-index: 999;
    height: 80px;
}
#logo{
    display: flex;
    margin-right: auto;
    align-items: center;
}
#logo>img{
    width: 130px;
}
#logo>h3{
    font-family:fantasy;
    letter-spacing: 2px;
    width: 50px;
    color: var(--red);
    background-color: transparent;
    margin-left: -35px;
}
.separator{
    color: var(--ligth-gray);
}
nav{
    display: flex;
    gap: 100px;
    align-items: center;
}
ul{
    list-style-type: none;
    display: flex;
    gap: 30px;
    font-family: var(--font-family-heading);
    font-weight: var(--font-weight-semiBold);
    font-size: 17px;
    margin-right: -30px;
}

a{
    text-decoration: none;
    color: var(--ligth-gray);
}
a:hover{
    border-bottom: 4px solid var(--red);
    padding-bottom: 23px;
    cursor: pointer;
}
main{
    width: 500px;
    margin-left: 100px;
    margin-bottom: 20px;
}
h1{
    font-family: var( --font-family-heading);
    font-weight: var(--font-weight-bold);
    color: var(--dark-blue);
    margin-bottom: 20px;
}
.quest{
    padding: 15px;
    border-bottom: 2px solid var(--medium-pink);
}
h2{
    font-family: var(--font-family-heading);
    font-weight: var(--font-weight-semibold);
    color: var(--dark-blue);
}
.quest>p{
    display: none;
    font-family: var(--font-family-paragraphs);
    font-weight: var(--font-weight-regular);
    color: var(--dark-blue);
    font-size: var(--font-size);
}
.quest:hover > p {
    display:block;
    width: 400px;
}
.quest>h2:hover{
    color: var(--red);
}