.login_bd{
    padding: 0;
    margin: 0;
    background-color: rgb(102, 2, 4);
    background-image: none;
    display: grid;
    place-content: center;
}
main{
    display: flex;
    background-color: rgba(214, 211, 211, 0.233);
    margin: 50px;
    box-shadow: 1px 3PX 5PX 3PX rgba(2, 2, 2, 0.575);
    border-radius: 10px;
}
.signin_suggest{
    background-image: url(../assets/images/LOGIN/takingBlood.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    padding: 80px;  
    text-align: center;
    color: black;
    width: 300px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    >p{
        animation: 0;
        font-family: var(--font-family-paragraphs);
        font-weight: var(--font-weight-regular);
        font-size: var(--font-size);
        position: relative;
        top: 50px;
    };
    >h2{
        font-family: var(--font-family-heading);
        font-weight: var( --font-weight-bold);
        font-size: 2rem;
        position: relative;
        top: 50px;
    };
}

.login_card{
    padding: 60px;  
    text-align: center; 
    width: 50%;
    >h1{
        animation: 0;
        font-family: var(--font-family-heading);
        font-weight: var( --font-weight-bold);
        font-size: 3rem;
        color: black
    };
}
form{
    margin-top: 30px;
}
form>input{
    border: none;
    border-bottom: 2px solid black;
    background-color: transparent;
    text-align: center;
    padding: 5px;
    width: 200px;
    margin-top: 10px;
    font-size: 15px;
    font-family: var(--font-family-heading);
    color: black;
}
.btn{
    border: 2px solid black;
    width: 140px;
    margin-top: 50px;
    border-radius: 5px;
    font-family: var(--font-family-paragraphs);
    font-size: 20px;
    color: black;
    transition: .3s;
}
.btn:hover{
    background-color: black;
    color: var(--white);
    cursor: pointer;
}
#Admin{
    padding:5px;
    margin-top: -50px;
}
a{
    background-color: transparent;
    border-bottom: none;
    font-family: var(--font-family-paragraphs);
    font-size: 17px;
    color: black;
    margin-top: -50px; 
    display: inline-block;
    transition:  .3s ;
}
#forgetpw{
    text-decoration: underline;
    color: black;
}
#forgetpw:hover {
    color: white;
    text-decoration: underline;
    cursor: pointer;
}