.login_bd{
    padding: 0;
    margin: 0;
    background-color: var(--pink);
    background-image: none;
    display: grid;
    place-content: center;
}
main{
    display: flex;
    background-color: rgba(255, 255, 255, 0.4);
    margin: 50px;
    box-shadow: 1px 1PX 5PX 3PX rgb(155, 115, 115);
    border-radius: 8px;
}
.signin_suggest{
    background-image: url(../assets/images/LOGIN/takingBlood.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    padding: 80px;  
    text-align: center;
    color: var(--dark-blue);
    width: 300px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;

    >p{
        animation: 0;
        font-family: var(--font-family-paragraphs);
        font-weight: var(--font-weight-regular);
        font-size: var(--font-size);
    };
    >h2{
        font-family: var(--font-family-heading);
        font-weight: var( --font-weight-bold);
        font-size: 2rem;
    };
}

.login_card{
    padding: 80px;  
    text-align: center; 
    width: 50%;
    >h1{
        animation: 0;
        font-family: var(--font-family-heading);
        font-weight: var( --font-weight-bold);
        font-size: 3rem;
        color: var(--dark-blue)
    };
}
form{
    margin-top: 30px;
}
form>input{
    border: none;
    border-bottom: 2px solid var(--dark-blue);
    background-color: transparent;
    text-align: center;
    padding: 10px;
    width: 200px;
    margin-top: 10px;
    font-size: 15px;
}
.btn{
    border: 2px solid var(--dark-blue);
    width: 100px;
    margin-top: 50px;
    border-radius: 5px;
    font-family: var(--font-family-paragraphs);
    font-size: 20px;
    color: var(--dark-blue);
}
.btn:hover{
    background-color: var(--dark-blue);
    color: var(--white);
    cursor: pointer;
}
#btn2{
    margin-top: 120px;
}
#Admin{
    width: 150px;
    margin-top: -20px;
}
#forgetpw{
    background-color: transparent;
    border-bottom: none;
    margin-top: -25px;
    font-family: var(--font-family-paragraphs);
    font-size: 17px;
    color: var(--dark-blue);
    text-decoration: underline;
}
#forgetpw:hover{
    color: var(--red);
    text-decoration: none;
    cursor: pointer;
}