@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@600;700&family=Truculenta:opsz@12..72&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
:root{
    --red: #fc1b1b;
    --medium-red: #a00404;
    --white: white;
    --dark-red:rgb(102, 2, 4);
    --font-family-paragraphs : Poppins;
    --font-family-heading: Kanit;
    --font-weight-regular: 400;
    --font-weight-semiBold: 600;
    --font-weight-bold: 700;
    --font-size: 20px;
}
*{
    margin: 0;
    padding: 0;
}
#header{
    /* background-color: rgba(0,0 , 0, 0.8); */
    display: flex;
    justify-content: end;
    padding-left: 50px;
    padding-right: 30px;
    position:relative;
    padding-right: 50px;
    position:sticky;
    top: 0px;
    align-items: center;
    z-index: 999;
    height: 80px;
}
#logo{
    display: flex;
    margin-right: auto;
    align-items: center;
}
#logo >img{
    width: 130px;
}
#logo>h3{
    font-family:fantasy;
    letter-spacing: 2px;
    width: 50px;
    color: var(--red);
    background-color: transparent;
    margin-left: -35px;
}

.separator{
    color:rgba(0,0 , 0, 0.8); ;
}
nav{
    display: flex;
    gap: 100px;
    margin-right: 100px;
    align-items: center; 
}
ul{
    list-style-type: none;
    display: flex;
    gap: 30px;
    font-family: var(--font-family-heading);
    font-weight: var(--font-weight-semiBold);
    font-size: 17px;
}

a{
    text-decoration: none;
    color: rgba(0,0 , 0, 0.8);;
}
a:hover{
    border-bottom: 4px solid var(--red);
    padding-bottom: 23px;
    cursor: pointer;
}
.login_out{
    border: 2px solid var(--red);
    width: 140px;
    font-family: var(--font-family-heading);
    font-size: 17px;
    color: white;
    transition: .3s;
    margin-top: -10px;
    padding: 10px 20px;
    background-color: var(--red);
}
.alert{
    display: none;
    position: fixed;
    top: 150px;
    left: 430px; 
    background-color: black; 
    color:  white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    font-family: var(--font-family-heading);
    font-weight: var(--font-weight-semiBold);
}
#profile {
    display: flex;
    gap:  30px;
    place-content: center;
    margin-top: 50px;
}
#blogs{
    display: grid;
    align-items: center;
    justify-items: center;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    border-radius: 50px;
}
#user_profile{
    display: grid;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    border-radius: 10px;
    padding: 30px;
    width: 500px;
}
#user_profile>header{
    display: flex;
    align-items: center;
    justify-content: end;
    >h1{
        margin-right: auto;
        font-family: var(--font-family-heading);
        font-size: 3.5rem;
    }
}
form{
    width: 100%;
    display: flex;
    gap: 20px;
}
input, button{
    padding: 10px 15px;
    border: none;
    border-bottom: 3px solid black;
    margin-top: 20px;
    font-family: var(--font-family-paragraphs);
    font-size: 15px;
}
select{
    padding: 10px 15px;
    width: 100%;
    border: none;
    border-bottom: 3px solid black;
    margin-top: 20px;
    font-family: var(--font-family-paragraphs);
    font-size: 15px;
}
.btn{
    background-color: black;
    color: var(--white);
    border: none;
    font-weight: var(--font-weight-semiBold);
}
.btn:hover{
    background-color: var(--white);
    color: black;
    cursor: pointer;
}
#buttons{
    display: flex;
    align-items: center;
    gap:  10px;
    
}
