.signup_bd{
    padding: 0;
    margin: 0;
    background-color: var(--ligth-gray);
    background-image: none;
    display: grid;
    place-content: center;
}
#header{
    background-color: rgba(0,0 , 0, 0.8);
    display: flex;
    justify-content: end;
    padding-left: 50px;
    padding-right: 30px;
    position:relative;
    top: 0px;
    align-items: center;
    z-index: 999;
    height: 80px;
}
#logo{
    display: flex;
    margin-right: auto;
    align-items: center;
}
#logo >img{
    width: 130px;
}
#logo>h3{
    font-family:fantasy;
    letter-spacing: 2px;
    width: 50px;
    color: var(--red);
    background-color: transparent;
    margin-left: -35px;
}
.separator{
    color: var(--ligth-gray);
}
nav{
    display: flex;
    gap: 100px;
    margin-right: 200px;
    align-items: center; 
}
ul{
    list-style-type: none;
    display: flex;
    gap: 30px;
    font-family: var(--font-family-heading);
    font-weight: var(--font-weight-semiBold);
    font-size: 17px;
}

a{
    text-decoration: none;
    color: var(--ligth-gray);
}
a:hover{
    border-bottom: 4px solid var(--red);
    padding-bottom: 23px;
    cursor: pointer;
}
main{
    display: flex;
    background-image: linear-gradient(45deg, rgb(161, 2, 2), pink, rgb(161, 1, 1));
    margin: 50px;
    box-shadow: 1px 1PX 5PX 3PX rgba(139, 69, 69, 0.87);

}
.signin_card{
padding: 80px;  
text-align: center; 
>h1{
    animation: none;
    font-family: var(--font-family-heading);
    font-weight: var( --font-weight-bold);
    font-size: 3rem;
    color: black;
};
}
form>input{
    border: none;
    border-bottom: 2px solid black;
    background-color: transparent;
    padding: 10px;
    width: 200px;
    margin-top: 10px;
    font-size: 15px;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.signin_card img{
    position: absolute;
    top: 500px;
    right: 370px;
}
select, option{
    border: 2px solid #000000;
    background-color: transparent;
    text-align: center;
    padding: 10px;
    width: 200px;
    margin-top: 20px;
    font-size: 15px;
    color: black;
}
option{
    background-color: var(--dark-red);
    color: var(--white);
}
.btn{
    border: 2px solid black;
    width: 100px;
    margin-top: 20px;
    border-radius: 5px;
    font-family:var(--font-family-paragraphs);
    font-weight: var(--font-weight-bold);
    font-size: 20px;
    color: black;
}
.btn:hover{
    background-color: black;
    color: var(--white);
    cursor: pointer;
}
