
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@600;700&family=Truculenta:opsz@12..72&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
:root{
    --light-pink:#fee5e5;
    --medium-pink:#fed0d0;
    --ligth-gray: lightgray;
    --pink:#EFB3B4;
    --red: #fc1b1b;
    --medium-red: #a00404;
    --dark-blue:#1E0377;
    --white: white;
    --dark-red:rgb(102, 2, 4);
    --font-family-paragraphs : Poppins;
    --font-family-heading: Kanit;
    --font-weight-regular: 400;
    --font-weight-semiBold: 600;
    --font-weight-bold: 700;
    --font-size: 20px;
}.signup_bd{
    padding: 0;
    margin: 0;
    background-color: white;
    background-image: none;
    display: grid;
    place-content: center;
}
#header{
    background-color: rgba(0,0 , 0, 0.8);
    display: flex;
    justify-content: end;
    padding-left: 50px;
    padding-right: 30px;
    position:relative;
    top: 0px;
    align-items: center;
    z-index: 999;
    height: 80px;
}
#logo{
    display: flex;
    margin-right: auto;
    align-items: center;
}
#logo >img{
    width: 130px;
}
#logo>h3{
    font-family:fantasy;
    letter-spacing: 2px;
    width: 50px;
    color: var(--red);
    background-color: transparent;
    margin-left: -35px;
}
.separator{
    color: var(--ligth-gray);
}
nav{
    display: flex;
    gap: 100px;
    margin-right: 200px;
    align-items: center; 
}
ul{
    list-style-type: none;
    display: flex;
    gap: 30px;
    font-family: var(--font-family-heading);
    font-weight: var(--font-weight-semiBold);
    font-size: 17px;
}

a{
    text-decoration: none;
    color: var(--ligth-gray);
}
a:hover{
    border-bottom: 4px solid var(--red);
    padding-bottom: 23px;
    cursor: pointer;
}
main{
    display: flex;
    background-color: black;
    margin: 50px;
    box-shadow: 1px 1PX 5PX 3PX rgba(0, 0, 0, 0.87);

}
.signin_card{
padding: 80px;  
text-align: center; 
>h1{
    animation: none;
    font-family: var(--font-family-heading);
    font-weight: var( --font-weight-bold);
    font-size: 3rem;
    color: black;
};
}
.signin_card .inp{
    border: none;
    border-bottom: 2px solid var(--red);
    background-color: transparent;
    padding: 10px;
    width: 200px;
    margin-top: 10px;
    font-size: 15px;
    color: var(--red);
    font-family: var(--font-family-paragraphs);
}
form>.inp::placeholder{
    color: var(--red);
}
.signin_card .blood{
    position: absolute;
    top: 500px;
    right: 370px;
}
select, option{
    border: 2px solid var(--red);
    background-color: transparent;
    text-align: center;
    padding: 10px;
    width: 200px;
    margin-top: 20px;
    font-size: 19px;
    color: var(--red);
    font-family: var(--font-family-paragraphs);
}
option{
    background-color: var(--red);
    color: black;
    font-family: var(--font-family-paragraphs);
}
.btn{
    border: 2px solid var(--red);
    width: 100px;
    margin-top: 20px;
    border-radius: 5px;
    font-family:var(--font-family-paragraphs);
    font-weight: var(--font-weight-bold);
    font-size: 20px;
    color: var(--red);
    background-color: transparent;
}
.btn:hover{
    background-color: var(--red);
    color: black;
    cursor: pointer;
}
